<header class="w-screen">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center max-w-screen-xl">
      <div>
        <a href="https://github.com/TeslaWillow" class="flex items-center">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="mr-3 h-6 sm:h-9" alt="Github Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Github</span>
        </a>
      </div>
    </div>
  </nav>
</header>

<div class="flex content">
  <!-- Sidebar -->
  <aside class="w-64 bg-white text-gray-800 dark:bg-gray-800 dark:text-white flex flex-col p-4">
    <h2 class="text-lg font-bold mb-4">Face Detection App</h2>
  </aside>

  <!-- Main content -->
  <main class="flex-1 bg-slate-300 flex items-center justify-center">

  </main>
</div>
